/* *{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;} */

*{
   max-width: 1600px;
   margin: 0px auto;
}

.wrapper {
   width: 1600px;
   height: 700px;
   background: white;
   margin: 20px ;
   border-radius: 10px;

}

.header {
   width: 1600px;
   height: 100px;
   display: flex;
   justify-content: center;
   text-align: center;
   font-size: x-large;
}

.menu-1 {
   width: 100px;
   height: 50px;
   margin: 20px;
   padding: 10px;
   font-family: Open Sans;
   font-size: 24px;
   font-weight: 700;
   line-height: 33px;
   letter-spacing: 0em;
   text-align: left;

}


.menu-2 {
   width: 100px;
   height: 50px;
   margin: 20px;
   padding: 10px;

   font-family: Open Sans;
   font-size: 24px;
   font-weight: 700;
   line-height: 33px;
   letter-spacing: 0em;
   text-align: left;

}

.menu-3 {
   width: 100px;
   height: 50px;
   margin: 20px;
   padding: 10px;

   font-family: Open Sans;
   font-size: 24px;
   font-weight: 700;
   line-height: 33px;
   letter-spacing: 0em;
   text-align: left;

}

.container {
   width: 1600px;
   height: 700px;
   background: rgba(217, 217, 217, 1);

   display: flex;
   border-radius: 10px;

}

.start {
   width: 120px;
   height: 450px;
   margin: 130px 25px;
   border-radius: 20px;
   background: rgba(254, 254, 254, 1);
   
   

}

.start-1 {
   width: 60px;
   height: 60px;
   border-radius: 10px;
   margin: 20px 23px;
   cursor: pointer;
   background-color: blue;
   
}

.svg-inline-1 path{

   fill: rgb(250, 248, 248);
   transition: 1s;
}

.svg-inline-1 path:hover {
   
   fill: rgb(24, 23, 23);
   
  }



.start-2 {
   width: 60px;
   height: 60px;
   border-radius: 10px;
   margin: 25px 23px;
   background: url(./images5/monitor.svg);
}

.start-2:hover{
 
   border-radius: 10px;
   background: blue;
    
   
}

.svg-inline-2 path{

   fill: rgb(11, 11, 11);
   transition: 1s;
}

.svg-inline-2 path:hover {
   
   fill: rgb(248, 240, 240);
   transition: 1S;
  }



.start-3 {
   width: 60px;
   height: 60px;
   border-radius: 10px;
   margin: 25px 23px;
  
}

.start-3:hover{
 
   border-radius: 10px;
   background: blue;
   transform: translate(1%);  
   
}

.svg-inline-2 path{

   fill: rgb(11, 11, 11);
   transition: 1s;
}

.svg-inline-3 path:hover {
   
   fill: rgb(248, 240, 240);
   transition: 1S;
  }

.start-4 {
   width: 60px;
   height: 60px;
   border-radius: 10px;
   margin: 25px 23px;
  

}

.start-4:hover{
 
   border-radius: 10px;
   background: blue;
   transform: translate(1%);  
   
}

.svg-inline-4 path{

   fill: rgb(11, 11, 11);
   transition: 1s;
}

.svg-inline-4 path:hover {
   
   fill: rgb(248, 240, 240);
   transition: 1S;
  }




.start-5 {
   width: 60px;
   height: 60px;
   margin: 20px 23px;
   

}

.start-5:hover{
 
   border-radius: 10px;
   background: blue;
   transform: translate(1%);  
   
}

.svg-inline-5 path{

   fill: rgb(11, 11, 11);
   transition: 1s;
}

.svg-inline-5 path:hover {
   
   fill: rgb(248, 240, 240);
   transition: 1S;
  }

.container-1 {
   width: 1600px;
   height: 620px;
   display: flex;
   position: relative;
   margin: 35px 20px;
   border-radius: 10px;

}

.html {
   width: 680px;
   height: 150px;
   background: white;
   border-radius: 10px;
   position: absolute;
   left: 15px;
   top: 15px;

}

.progeck {
   position: absolute;
   width: 150px;
   height: 20px;
   left: 60px;
   top: 50px;

   font-family: Open Sans;
   font-size: 20px;
   line-height: 20px;
   letter-spacing: 0em;
   text-align: left;

}

.logos {
   width: 680px;
   height: 150px;
   background: white;
   border-radius: 10px;
   position: absolute;
   right: 15px;
   top: 15px;

}

.company {
   position: absolute;
   width: 300px;
   height: 100px;
   left: 60px;
   top: 50px;
   font-weight: 700;
   font-size: 20px;
   letter-spacing: 0em;
   font-family: Open Sans;
   line-height: 20px;

}


.Description {
   width: 900px;
   height: 200px;
   background: white;
   border-radius: 10px;
   position: absolute;
   left: 15px;
   top: 185px;

}

.discrspt{
   position: absolute;
   width: 650px;
   height: 100px;
   left: 60px;
   top: 50px;
   font-weight: 700;
   font-size: 20px;
   line-height: 25px;
   font-family: Open Sans;

}

.team {
   width: 900px;
   height: 200px;
   background: white;
   border-radius: 10px;
   position: absolute;
   left: 15px;
   bottom: 15px;

}

.tea {
   position: absolute;
   width: 500px;
   height: 100px;
   left: 300px;
   top: 20px;

   font-family: Open Sans;
   font-size: 20px;
   font-weight: 700;
   line-height: 25px;

}

.img-team {
   width: 120px;
   height: 120px;
   position: absolute;
   left: 50px;
   top: 50px;
   background: url(./images5/team.jpg) no-repeat;
   background-size: cover;

}

.data {
   width: 460px;
   height: 425px;
   background: white;
   border-radius: 10px;
   position: absolute;
   right: 15px;
   bottom: 15px;

}

.dta {
   position: absolute;
   width: 300px;
   height: 298px;
   left: 100px;
   top: 180px;

   font-family: Open Sans;
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 20px;

}

.img-data {
   width: 120px;
   height: 120px;
   position: absolute;
   left: 50px;
   top: 50px;
   background: url(./images5/data.jpg) no-repeat;
   background-size: cover;

}